
.icon-download-to-storage-drive:before { content: '\e800'; } /* '' */
.icon-orcid_logo_icon_145004:before { content: '\e801'; } /* '' */
.icon-elsevier_logo_icon_145310:before { content: '\e802'; } /* '' */
.icon-png-clipart-google-scholar-education-research-doctor-of-philosophy-scholar-s-logo-monochrome-(2):before { content: '\e803'; } /* '' */