
.icon-download-to-storage-drive:before { content: '\e800'; } /* '' */
.icon-orcid_logo_icon_145004:before { content: '\e801'; } /* '' */
.icon-elsevier_logo_icon_145310:before { content: '\e802'; } /* '' */
.icon-icons8-google-scholar-(1):before { content: '\e803'; } /* '' */
.icon-icons8-google-scholar:before { content: '\e804'; } /* '' */