
.icon-orcid_logo_icon_145004:before { content: '\e800'; } /* '' */
.icon-elsevier_logo_icon_145310:before { content: '\e801'; } /* '' */
.icon-google-scholar:before { content: '\e802'; } /* '' */
.icon-download-to-storage-drive:before { content: '\e821'; } /* '' */